/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family: 'Franchise Bold';
    src: url("../fonts/Franchise-Bold-hinted.eot?") format("eot"),url("../fonts/Franchise-Bold-hinted.woff") format("woff"),url("../fonts/Franchise-Bold-hinted.ttf") format("truetype"),url("../fonts/Franchise-Bold-hinted.svg#Franchise-Bold") format("svg");
    font-weight: 400;
    font-style: normal;
}
.row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}
.col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-sm-top {
    vertical-align: top;
}
.col-sm-middle {
    vertical-align: middle;
}
.col-sm-bottom {
    vertical-align: bottom;
}

.btn-pink-text {
    color: $tb-pink;
    padding-right: 20px;
    text-transform: uppercase;
}
.page-header {
    border: none;
}
.overlay {
    width: 100%;
    height: 100%;
    z-index: 99;
    background: $tb-black;
    position: fixed;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}