body {
    overflow-x: hidden;
}

.main-page-layout {
    min-width: 1160px;
    overflow-x: hidden;
    
    .navbar-fixed-top {
        z-index: 190;
    }
}

.tb-docs-container {
    .sub-menu {
        height: 100%;
        left: -654px;
        position: absolute;
        overflow: hidden;
        top: 0;
        z-index: 190;
        @include tb-transition(left, 300ms, ease-out);

        &.show-up {
            @include tb-transition(left, 300ms, ease-in);
            left: 124px;
        }
        .inner {
            width: 654px;
        }
        ul {
            -webkit-padding-start: 0;
            -moz-padding-start: 0;
            -o-padding-start: 0;
             padding: 0;
            
            li {
                list-style: none;
                list-style-type: none;
                background: url("../common/assets/images/fullimage4.jpg") center center no-repeat transparent;
                float: left;
                a {
                    display: inline-block;
                    height: 172px;
                    padding: 20% 0;
                    position: relative;
                    text-align: center;
                    width: 327px;
                    color: $tb-white;
                    font-size: 50px;
                    font-weight: 400;
                    line-height: 1;
                    text-transform: uppercase;
                }
            }
        }
        .sub-ordering {
            height: calc(100vh - 516px);
            width: 654px;
            background: $tb-white;
            position: absolute;
            bottom: 0;
            min-height: 250px;
            padding: 20px 110px;
            .mobile-ordering {
                position: relative;
                background: url("//d29vij1s2h2tll.cloudfront.net/~/media/images/taco-bell/ui/footer-phone.png") no-repeat;
                min-height: 210px;
                padding: 0 0 0 110px;
            }
        }
    }
    .right-sub-menu {
        background: $tb-white;
        height: 100%;
        right: -360px;
        position: fixed;
        top: 0;
        z-index: 190;
        width: 360px;
        @include tb-transition(right, 300ms, ease-in);
        &.right-fly-out {
            @include tb-transition(right, 300ms, ease-in);
            right: 0;
        }
        .title-box {
            color: $tb-white;
            font-size: 32px;
            height: 60px;
            line-height: 60px;
            position: relative;
            text-align: center;
            z-index: 1;
            background: $tb-grey10;
            .btn-close {
                position: absolute;
                top: 15px;
                left: 20px;
                font-size: 30px;
                color: $tb-grey;
            }
        }
        .sign-up-header {
            background: url("//d29vij1s2h2tll.cloudfront.net/~/media/images/taco-bell/ui/signup-page-bg.png") top left #3ad3aa;
            color: $tb-white;
            font-size: 32px;
            margin-bottom: 20px;
            padding: 55px 20px;
            position: relative;
            text-align: center;
        }
        .padding-wrapper {
            .bottom-align {
                bottom: 0;
                left: 0;
                padding: 15px;
                position: absolute;
                width: 100%;
            }
        }
    }
    @include tb-media('desktop') {
        .container-fluid {
            padding-right: 158px;
        }
    }
    .container-fluid {
        overflow-x: hidden;
    }
    .tb-docs-section {
        h1[id] {
            padding-top: 80px;
            margin-top: -45px;
        }
    }
    .tb-docs-sections {
        position: absolute;
        left: 124px;
        top: 0;
        width: 100%;
    }
    @include tb-media('mobile') {
        .tb-docs-sections {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .logo {
        text-align: center;
    }
    .tb-sidenav {
        color: $tb-white;
        font-size: 25px;
        width: 124px;
        font-family: $tb-font-family-franchise-bold;
        .dropup {
            .caret {
                border-top: 0;
                border-bottom: 8px solid;
            }
        }
        .caret {
            border-top: 8px solid;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
        }
        .more-less {
            transform: skew(0deg, 0deg);
            background: $tb-black;
            z-index: 90;
            text-transform: uppercase;
            a:hover {
                color: $tb-green;
                background: $tb-black;
                cursor: pointer;
            }
        }
        li {
            transform: skew(0deg, -10deg);
            text-align: center;
            background: $tb-grey10;
            z-index: 290;
            &.actived {
                a {
                    color: $tb-purple;
                    background-color: $tb-white;
                }
            }
            a {
                padding: 30px 0;
                color: $tb-white;
                z-index: 190;
                &:hover {
                    color: $tb-purple;
                }
            }
        }
        ul.panel-collapse {
            -webkit-padding-start: 0;
            -moz-padding-start: 0;
            margin: 0;
            font-size: 16px;
            list-style: none;
            padding: 0;
            li {
                transform: skew(0deg, 0deg);
                background-color: black;
                padding: 5px 0;
                a {
                    padding: 0;
                    color: darkgrey;
                    background-color: $tb-black10;
                }
                &.active {
                    a {
                        color: $tb-white;
                    }
                }
            }
        }
    }
    .main-menu-wrapper {
        position: fixed;
        height: 100%;
        z-index: 199;
    }
    .tb-sidebar {
        z-index: 199;
        background-color: $tb-black;
        height: 100%;
        &.affix-top {
            position: fixed;
        }
    }
    .left-nav {
        margin: 0 -15px;
        height: 100%;
    }
    .left-menu-icon {
        color: $tb-purple;
        position: absolute;
        top: 38px;
        right: 8px;
        font-size: 18px;
    }
    .product-image {
        width: auto;
        margin: 0 40px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        z-index: 4;
        .image-container {
            background-repeat: no-repeat;
            margin: 0 auto;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            min-height: 490px;
            height: 37vw;
            position: relative;
        }
        .masthead-link {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .tape-text {
            left: -15px;
            transform: skew(-6.5deg) rotate(-6.5deg);
            cursor: pointer;
            text-transform: uppercase;
            pointer-events: none;
            position: relative;
            z-index: 10;
            div {
                display: table;
                padding: 10px 20px 10px 23px;
                margin-bottom: 1px;
                position: relative;
                transition: 0.4s ease-in;
                box-shadow: 1px 3px 50px 0 rgba(0,0,0,.3);
            }
        }
    }
    .done {
        overflow: visible;
    }
    
}