@include tb-media('desktop') {
    .tb-docs-sections {
        position: absolute;
        left: 143px;
        top: 0;
    }
}
.tb-docs-section {
    h1[id] {
        padding-top: 80px;
        margin-top: -45px;
    }
}
.tb-docs-nav {
    background-color: #8328b2;
    width: 100%;
    left: 143px;
    line-height: 4em;
    a {
        color: #3ad3aa;
    }
    i {
        color: white;
        font-size: 18px;
    }
}
.header-banner-common {
    display: inline-block;
    padding: 0 15px;
}
.tb-docs-container {
    .logo {
        text-align: center;
    }
    .tb-sidenav {
        color: white;
        font-size: 25px;
        li {
            transform: skew(0deg, -10deg);
            text-align: center;
            background: #303030;
            &.active {
                background-color: white;
                a {
                    color: #8328b2;
                }
            }
            a {
                padding: 30px 0;
                color: white;
                &:hover,
                &:focus {
                    color: #8328b2;
                }
            }
        }
    }
    .tb-sidebar {
        background-color: black;
        height: 100%;
        &.affix-top {
            position: fixed;
        }
    }
    .left-nav {
        margin: 0 -15px;
        height: 100%;
    }
}
.tb-footer {}