$tb-purple: #8328b2;
$tb-pink: #f0c;
$tb-grey: #ddd;
$tb-black10: #17001d;
$tb-black: #000;
$tb-white: #fff;
$tb-light-blue: #3ad3aa;
$tb-dark-purple: #4B0C5E;
$tb-grey10: #303030;
$tb-green: green;
$tb-green10: #111;
$tb-font-family-franchise-bold: 'Franchise Bold';