$screenXs: 768px;
$screenSm: 992px;
$screenMd: 1100px;
$screenLg: 1440px;

$screenXsMin: 768px;
$screenSmMin: 992px;
$screenMdMin: 1100px;
$screenLgMin: 1440px;

$screenXsMax: 767px;
$screenSmMax: 1099px;
$screenMdMax: 1439px;